<ul class="slides js-slides">
    <li class="slides__item js-slide">
        <div class="valigner">
            <div class="valigner__cell">
                <h1>This is a slide.</h1>
            </div>
        </div>
    </li>
    <li class="slides__item js-slide">
        <div class="valigner">
            <div class="valigner__cell">
                <h1>This is another one.</h1>
            </div>
        </div>
    </li>
    <li class="slides__item js-slide">
        <div class="valigner">
            <div class="valigner__cell">
                <h1>Have fun!</h1>
            </div>
        </div>
    </li>
</ul>
<div class="navigate js-navi">
    <img src="/images/navigate.svg" />
</div>
<div class="tap tap--top js-tap-top"></div>
<div class="tap tap--bot js-tap-bot"></div>